:root{
    font-size: 16px;
    --color-1: #0B0C10;
    --color-2: #1F2833;
    --color-3: #C5C6C7;
    --color-4: #66FCF1;
    --color-5: #45A29E;
    --color-6: #7536ff;
    --color-7: #e31b6d;
    font-family: 'Europa', sans-serif;
    font-style: normal;
}
body{
    margin: 0;
    padding: 0;
}


/* Home */
.intro{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}
.intro-paragraph{
    color:var(--color-2);
    font-size: 2.5rem;
    text-align: center;
    /* background-color: white; */
    z-index: 1;
}
.myName{
    color: var(--color-6);
}
#tsparticles{
    position: absolute;
    height: 100%;
    width: 100%;
}
/* Navigation */
.header{
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    border-bottom: 4px solid var(--color-6);
    background-color: white;
    width: 100%;
    z-index: 1;
}
nav{ 
    height: 1.75rem;
    padding-bottom: 2rem;
}
.nav-ul{
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-left: 12vw;
}
li a{
    font-size: 1.75rem;
    text-decoration: none;
    color: var(--color-2);
    justify-self: center;
    transition: ease-in-out 300ms;
}
li a:hover{
    color: var(--color-6);
}
.content{
    display: flex;
    flex-flow: column;
    width: 100%;
    padding-left: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.sticky{
    position: fixed;
    top:0;
    width: 100%;
}
.sticky + .content {
    padding-top: 60px;
}
.active{
    color: var(--color-6);
    /* border-bottom: 3px solid var(--color-6); */
}


/* Flex Classes */
.flex{
    display: flex;
    flex-flow: row;
    align-items: center;
    max-width: 1200px;
    padding: 20px 150px;
    width: 100%;
}
.flex-col{
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: flex-start;
}   
.flex-no-pad{
    padding: 0;
}   
.justify{
    justify-content: space-between;
}
.center-col{
    align-items: center;
    justify-content: flex-start;
}
.center-row{
    align-items: flex-start;
    justify-content: center;
}


/* About Section */
h1{
    font-size: 3rem;
    text-align:center;
    flex: 100%;
    padding-bottom: 0;
    margin-bottom: 0;
}
.myImage{
    width: 350px;
    height: 100%;
    position: relative;
    visibility: hidden;
}
.aboutMe{
    position: relative;
    font-size: 1.2rem;
    letter-spacing: 2px;
    line-height: 2rem;
    padding-left: 2rem;
    visibility: hidden;
}
.thumbnail{
    width: 100px;
    height: 100px;
}
.intern{
    padding-right: 4rem;
}
.educ{
    padding-left: 2rem;
}
.title{
    color: var(--color-6);
    font-size: 1.5rem;
    padding-bottom: 30px;
    padding-top: 20px;
}
b{
    font-size: 1.3rem;
}
.education{
    position: relative;
    visibility: hidden;
}


/* Skills */
#skills{
    background-color: var(--color-6);
}
.height{
    height: 400px;
}
.width{
    width: 400px;
}
.text{
    line-height: 2rem;
    font-size: 1.2rem;
    list-style: none;
    padding: 0;
}
.border{
    background-color: white;
    border-radius: 6px;
    color: #141c3a;
    padding: 0px;
    margin: 0px 130px;
    margin-bottom: 40px;
}
.border-left{
    border-left: 1px solid #E6ECF8;
}
#skill-table{
    visibility: hidden;
}


/* Projects */
#projects{
    padding-bottom: 150px;
}
.description{
    color: rgba(97,84,89,1);
    padding-bottom: 2rem;
}
.project-name{
    font-size: 1.3rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    color: #292830;
}
svg{
    height: 20px;
    width: 20px;
    fill: #FFF;
    transition: ease-in-out, 500ms; 
    padding-left: 1px;
    padding-top: 2px;
}
.web{
    padding-left: 1.8px;
}
.circle{
    background-color: var(--color-6);
    height: 23px;
    width: 23px;
    border-radius: 50%;
    margin-bottom: 5px;
    transition: ease-in-out, 300ms;
}
.circle:hover{
    background-color: #FFF;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
.circle:hover svg{
    fill: var(--color-6);
}


/* Contact Me */
#contact{
    background-color: var(--color-6);
}
.contact-title{
    color: #FFF;
}
.circle-border{
    border-radius: 100%;
    border: 2px solid white;
    background-color: transparent;
    height: 38px;
    width: 38px;
    transition: ease-in-out 300ms;
    margin: 0px 10px;
}
.circle-border:hover{
    background-color: white;
}
.circle-border:hover svg{
    fill: var(--color-6);
}
.contact-svg-git{
    height: 30px;
    width: 30px;
    padding-left: 3px;
    padding-top: 4px;
}
.contact-svg-in{
    height: 25px;
    width: 25px;
    padding-left: 7px;
    padding-top: 5px;
}
.contact-svg-email{
    height: 28px;
    width: 28px;
    padding-left: 5px;
    padding-top: 5px;
}
.contact-icons{
    max-width: 1200px;
    width: 100px;
}
.contact-me-button{
    border: 2px solid white;
    border-radius: 50px;
    padding: 9px 0px;
    transition: ease-in-out 300ms;
    cursor: pointer;
    margin-bottom: 30px;
    margin-top: 0;
}
.send{
    padding: 8px 35px;
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
}
.send:visited{
    color: white;
}
.contact-me-button:hover{
    background-color: white;
}
.contact-me-button:hover .send{
    color: var(--color-6);
}

.copyright{
    color: white;
}

.bottom-line{
    width: 30px;
    border-bottom: 4px solid white;
    padding-top: 10px;
    margin-bottom: 40px;
    position: relative;
    visibility: hidden;
}
.black-line{
    border-color: black;
}
.visible{
    visibility: visible;
}
@keyframes panel-right-animation{
    from{
        right: -300px;
    }
    to{
        right: 0;
    }
}
@keyframes panel-left-animation{
    from{
        left: -300px;
    }
    to{
        left: 0;
    }
}
@keyframes fade-in{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
