:root{
    font-size: 16px;
    --primary-color: #7536ff;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    --max-width: 1100px;
    overflow-x: hidden;
}   
body{
    margin: 0;
    padding: 0;
    transition: all 300ms ease-in-out;
}
html{
    transition: all 300ms ease-in-out;
    margin: 0;
    padding: 0;
}

/* Home */
.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    max-height: 100%;
    width: 100%;
}
.intro-paragraph{
    color:#000;
    font-size: 2.5rem;
    text-align: center;
    z-index: 1;
}
.myName{
    color: var(--primary-color);
}
#tsparticles{
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0; 
}


/* Navigation */
.header{
    display: flex;
    border-bottom: 4px solid var(--primary-color);
    background-color: white;
    width: 100%;
    z-index: 1;
    justify-content: center;
}
nav{ 
    height: 64px;
    top: 0;
    left: 0;
    right: 0;
    width: 100%; 
    display: flex;
    max-width: var(--max-width);
    justify-content: flex-start;
}
.nav-ul{
    max-width: var(--max-width);
    width: 100%;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    padding: 0;

}
li a{
    font-size: 1.75rem;
    text-decoration: none;
    color: #000000;
    justify-self: center;
    transition: all 300ms ease-in-out;
    cursor: pointer;
}
li a:hover{
    color: var(--primary-color);
}
.content{
    display: flex;
    flex-flow: column;
    width: 100%;
    padding-left: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.sticky{
    position: fixed;
    top:0;
    width: 100%;
}
.sticky + .content {
    padding-top: 68px;
}
.active{
    color: var(--primary-color);
}
.menu-btn{
    position: relative;
    height: 50px;
    width: 50px;
    cursor: pointer;
    color: var(--primary-color);
    transition: 300ms ease-in-out;
    display: none;
    justify-content: center;
    align-content: center;
    margin-right: 10px;
    margin-left: auto;
    align-self: center;
}
.burger{
    justify-self: center;
    align-self: center;
    width: 40px;
    height: 5px;
    background: var(--primary-color);
    border-radius: 5px;
    transition: 300ms ease-in-out;
}
.burger::before, .burger::after{
    content: '';
    position: absolute;
    width: 40px;
    height: 5px;
    border-radius: 5px;
    background-color: var(--primary-color);
    transition: 300ms ease-in-out;
}
.burger::before{
    transform: translateY(-14px);
}
.burger::after{
    transform: translateY(14px);
}
.menu-btn.open .burger{
    background-color: transparent;
}
.menu-btn.open .burger::before{
    transform: rotate(-45deg);
}
.menu-btn.open .burger::after{
    transform: rotate(45deg);
}



/* Flex Classes */
.flex{
    display: flex;
    flex-flow: row;
    align-items: center;
    max-width: var(--max-width);
    padding: 20px 0px;
    width: 100%;
}
.flex-col{
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: flex-start;
}   
.flex-no-pad{
    padding: 0;
}   
.justify{
    justify-content: space-between;
}
.center-col{
    align-items: center;
    justify-content: flex-start;
}
.center-row{
    align-items: flex-start;
    justify-content: center;
}


/* About Section */
h1{
    font-size: 3rem;
    text-align:center;
    flex: 100%;
    /* padding: 0; */
    padding-top: 20px;
    margin: 0;
}
.myImage{
    width: 350px;
    height: 100%;
    position: relative;
    visibility: hidden;
    margin: 10px;
    border: 3px solid var(--primary-color);
    border-radius: 50px;
    align-self: center;
}
.aboutMe{
    position: relative;
    font-size: 1.2rem;
    letter-spacing: 2px;
    line-height: 2rem;
    padding-left: 2rem;
    visibility: hidden;
    align-self: center;
    margin: 0;
}
.thumbnail{
    width: 100px;
    height: 100px;
}
.intern{
    /* padding-right: 4rem; */
}
.educ{
    padding-left: 2rem;
}
.title{
    color: var(--primary-color);
    font-size: 1.5rem;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
}
b{
    font-size: 1.3rem;
}
.education{
    position: relative;
    visibility: hidden;
    align-self: center;
    width: 100%;
    margin-right: 50px;
}
.intern-parent{
    justify-content: space-between;
}


/* Skills */
#skills{
    background-color: var(--primary-color);
}
.height{
    height: 400px;
}
.width{
    width: 400px;
}
.text{
    line-height: 2rem;
    font-size: 1.2rem;
    list-style: none;
    padding: 0;
}
.border{
    background-color: white;
    border-radius: 6px;
    color: #141c3a;
    padding: 0px;
    margin: 0px 130px;
    margin-bottom: 40px;
}
.border-left{
    border-left: 1px solid #E6ECF8;
}
#skill-table{
    visibility: hidden;
}


/* Projects */
#projects{
    padding-bottom: 150px;
}
.description{
    color: rgba(97,84,89,1);
    padding-bottom: 2rem;
}
.project-name{
    font-size: 1.3rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    color: #292830;
}
svg{
    height: 20px;
    width: 20px;
    fill: #FFF;
    transition: ease-in-out, 500ms; 
    padding-left: 1px;
    padding-top: 2px;
}
.web{
    padding-left: 1.5px;
}
.circle{
    background-color: var(--primary-color);
    height: 23px;
    width: 23px;
    border-radius: 50%;
    margin-bottom: 5px;
    transition: ease-in-out, 300ms;
}
.circle:hover{
    background-color: #FFF;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
.circle:hover svg{
    fill: var(--primary-color);
}


/* Contact Me */
#contact{
    background-color: var(--primary-color);
}
.contact-title{
    color: #FFF;
}
.circle-border{
    border-radius: 100%;
    border: 2px solid white;
    background-color: transparent;
    height: 38px;
    width: 38px;
    transition: ease-in-out 300ms;
    margin: 0px 10px;
}
.circle-border:hover{
    background-color: white;
}
.circle-border:hover svg{
    fill: var(--primary-color);
}
.contact-svg-git{
    height: 30px;
    width: 30px;
    padding-left: 3px;
    padding-top: 4px;
}
.contact-svg-in{
    height: 25px;
    width: 25px;
    padding-left: 7px;
    padding-top: 5px;
}
.contact-svg-email{
    height: 28px;
    width: 28px;
    padding-left: 5px;
    padding-top: 5px;
}
.contact-icons{
    max-width: var(--max-width);
    width: 100px;
}


.copyright{
    color: white;
}

.bottom-line{
    width: 30px;
    border-bottom: 4px solid white;
    padding-top: 10px;
    margin-bottom: 40px;
    position: relative;
    visibility: hidden;
}
.black-line{
    border-color: black;
}
.visible{
    visibility: visible;
}
.resume{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    border: 2px solid var(--primary-color);
    /* border-radius: 200px; */
    background-color: var(--primary-color);
    padding: 1rem;
    font-weight: 500;
    margin-bottom: 35px;
    z-index: 3;
}
.resume:hover{
    background-color: white;
    color: var(--primary-color);
}

/* Form */
.contact-button{
    border: 2px solid white;
    border-radius: 200px;
    padding: 20px;
    font-size: 1.5rem;
    color: white;
    transition: all ease-in-out 300ms;
    cursor: pointer;
    margin: 0;
    overflow-y: hidden;
}
.contact-button:hover{
    background-color: white;
    color: var(--primary-color);
}
.clicked{
    height: 0;
    padding: 0;
    border: none;
}
form{
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height ease 1s;
    border-radius: 20px;
    justify-content: space-between; 
    align-content: flex-start;
    max-width: var(--max-width);
    width: 100%;
}
.form-open{
    margin: 0;
    max-height: 2000px;
}
#name-email{
    padding: 20px;
}
.holder{
    margin: 10px;
}
#name,#email{
    padding: 0.5rem;
    font-size: 1.1rem;
    font-family: inherit;
    width: 300px;
    outline: none;
    border: 1px solid #b1b7c5;
    border-radius: 10px;
}
#name:focus, #email:focus, #message:focus{
    border-color: var(--primary-color);
}
textarea{
    width: 634px;
    resize: none;
    font-family: inherit;
    padding: 0.5rem;
    font-size: 1.1rem;
    font-family: inherit;
    border: 1px solid #b1b7c5;
    outline: none;
    border-radius: 10px;
}
label{
    color: rgb(39, 39, 39);
}
 #submit{
    font-size: 1.2rem;
    border: 2px solid var(--primary-color); 
    border-radius: 200px;
    padding: 10px 20px;
    cursor: pointer;
    outline: none;
    transition: 300ms ease;
    color: var(--primary-color);
    background-color: white;
    margin: 20px 0;
}
button:hover, #submit:hover{
    color: white;
    background-color: var(--primary-color);
}


/* Scroll Bar */
::-webkit-scrollbar{
    width: 9px;
    background-color: white;
    
}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: var(--primary-color);
    border-left : 1px solid gray;
}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
}

@keyframes panel-right-animation{
    from{
        right: -300px;
    }
    to{
        right: 0;
    }
}
@keyframes panel-left-animation{
    from{
        left: -300px;
    }
    to{
        left: 0;
    }
}
@keyframes fade-in{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@media screen and (max-width: 1200px){
    :root{
        --max-width: 800px; 
    }
}
@media screen and (max-width: 992px){
    :root{
        --max-width: 700px
    }
    .education{
        margin: 0;
    }
}
@media screen and (max-width: 768px){
    :root{
        --max-width:600px;
    }
    .flex-sm{
        flex-flow: column;
        width: 100%;
        align-items: center;
    }
    .myImage{
        align-self: center;
        width: 250px;
    }
    .no-pad-sm{
        padding-right: 0;
        padding-left: 0;
    }

    .text{
        text-align: center;
    }
    .border-left{
        border: 0;
        border-top: 1px solid #E6ECF8;
    }
    .intern{
        padding-right: 30px;
        align-self: flex-start;
    }
    .menu-btn{
        display: flex;
        z-index: 2;
    }
    .nav-ul{
        margin-top: 68px;
        list-style-type: none;
        z-index: 1;
        right: 0;
        flex-direction: column;
        background-color: #FFF;
        height: calc(100vh - 68px);
        justify-content: flex-start;
        align-content: center;
        position: absolute;
        box-shadow: 4px 10px 10px #111111;
        padding: 0;
        width: 0;
        transition: width 300ms ease;
        overflow-x: hidden;
    }
    .opacity{
        opacity: 0.3;    
    }
    .nav-ul li{
       margin-top: 2vh;
       padding-bottom: 1vh;
       width: 100%;
       text-align: center;
       font-size: 2rem;
    }
    .nav-active{
        width: 40vw;
    }
    #name, #email, textarea{
        width: 400px;
    } 
    @media screen and (max-width:600px){
        :root{
            --max-width:400px;
        } 
        #name, #email, textarea{
            width: 300px;
        } 
    }
    @media screen and (max-width:400px){
        :root{
            font-size: 13px;
            --max-width:300px;
        }   
        .width{
            width: 300px;
        }
        .height{
            height: 350px;
        }
        #name, #email, textarea{
            width: 200px;
        } 
    }
    @media screen and (max-width:300px){
        :root{
            --max-width:260px;
        } 
        .width{
            width: 260px;
        }
        #name, #email, textarea{
            width: 150px;
        } 
    }
}
